{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage", // alternative mode: "entry"
                "corejs": 3, // default would be 2
                "targets": {
                    "node": "6.10"
                }
                // set your own target environment here (see Browserslist)
            }
        ]
    ]
}